h3
{
font-size: 25px !important;
}
.btn-success:hover
{
background-color: lime;
}
canvas
{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {
    from {box-shadow: 1px 3px 39px magenta;}
to {box-shadow: 1px 3px 39px greenyellow;}
}
    